<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206104227977-ubpvolchcsiaqv98jpf4q7fr9qm2erti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206104227977-ubpvolchcsiaqv98jpf4q7fr9qm2erti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206104227977-ghsspmm59j4r0kl4dkc02310lift9p9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcyDYX-Jh_645wdmWUsW6Zc3zaRVz_8ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>206104227977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pciosdev.Spendwise</string>
	<key>PROJECT_ID</key>
	<string>expensemanagerapp-7590d</string>
	<key>STORAGE_BUCKET</key>
	<string>expensemanagerapp-7590d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206104227977:ios:d03c622f065ee4e80e1658</string>
</dict>
</plist>